* {
    margin: 0;
    padding: 0%; 
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  header {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
  }
  
  .img5 {
    background-image: url("vinci.jpg") ;
    background-repeat: no-repeat;
    height: 100px;
    width: 140px;
    background-size: 94%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 106px 0px 25px;
  }
  
  .slide-line{
    text-decoration: none ;
    position: relative;
    color :white ;
    font-size: 25px ;
    font-family: 'Open Sans', sans-serif;  
  }
  
  .slide-line::before {
    content:"";
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
  }
  
  .slide-line:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  
  footer .slide-line:last-child{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 70px;
  }
  footer .linkdin .slide-line:last-child{
    font-size: 35px;
    
  }
  
  .creator{
    width: 200px;
    color: white;
    font-family: 'Inconsolata', monospace;
    margin: 10px 30px 0 0;
    font-size: 28px;
  }
  
  .email{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .invisible{
    background-image: url("vinci.jpg");
    background-repeat: no-repeat;
    height: 110px;
    width: 200px;
    background-size: 94%;
    margin: 0 0 30px 0;
  
  }
  
  .box_login {
    height: 400px;
    width: 300px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 45px 50px 50px ;
    border-radius: 30px;
    position: relative;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.692)
  }
  
  .topBox{
    width: 100%;
    height: 80px;
    margin: 30px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .middleBox{
    width: 100%;
    height: 60px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .bottomBox{
    width: 100%;
    height: 60px;
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0 6px 0 0;
  }
  
  
  .box_creation {
    height: 400px;
    width: 300px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.692) ;
  }
  
  .name , .mdp {
    width: 164px;
    border: none ;
    text-decoration: underline;
    font-size: 18px; 
    font-family: 'Barlow', sans-serif;
    background-color: rgba(255, 255, 255, 0);
  }
  
  label {
    font-size: 22px;
    font-family: 'Barlow', sans-serif;
  }
  
  .boxh1{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 15px;
    margin: 35px 0 0 0;
  }
  
  .box-creation-h2{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 15px 20px;
    margin: 35px 0 0 0;
  }
  
  h1 {
    font-size: 33px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 1px;
    position: relative;
    right: 8px;
  }
  
  .titreh {
    font-size: 33px;
    margin: 10px 0px 0 30px;
  }
  
  .background {
    height: 88vh;
    width: 100%;
    background-image: url(https://images7.alphacoders.com/382/thumb-1920-382499.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background2 {
    height: 100vh;
    width: 100%;
    background-image: url(https://images7.alphacoders.com/382/thumb-1920-382499.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  
  .box2 {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;  
    margin: 0px 0 80px 0 ;
  }
  
  .boxh2{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .slide-line-two{
    text-decoration: none ;
    position: relative;
    color :rgb(0, 0, 0) ;
    font-size: 55px;
    font-family: 'Barlow', sans-serif;
    color: black;
  }
  
  .slide-line-two::before {
    content:"";
    position: absolute;
    background: #000000;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
  }
  
  .slide-line-two:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  
  .one{
    background-image: url(https://media.istockphoto.com/photos/healthcare-business-graph-data-and-growth-insurance-healthcare-doctor-picture-id1327568875?b=1&k=20&m=1327568875&s=170667a&w=0&h=coOGg4r5WJkKAtMTOoqudH_JZpdZx0u3E0KJN6mL1uM=);
  }
  
  .two {
    background-image: url(https://www.usine-digitale.fr/mediatheque/3/0/7/000150703_homePageUne/vinci-energies.jpg);
  }
  
  .three {
    background-image: url(https://www.vinci-concessions.com/uploads/2019/05/railways_visuel-intro-1920x1106.jpg);
  }
  
  .img {
    height: 238px;
    width: 390px;
    background-size: cover ;
    background-repeat: no-repeat;
  }
  
  .style1 {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
    background-size: cover;
  }
  
  .style1 .fadedbox {
    background-color: #d3cfcfde;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 390px;
    height: 100px;
    padding: 119px 20px;
  }
  .style1:hover .fadedbox {
    opacity: 0.8;
  }
  .style1 .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
     font-family: 'Inconsolata', monospace;
  }
  .style1 .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .style1:hover .title,
  .style1:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  
  .incorect {
    color :red;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 20px 15px;
  }
  
  .box3 {
    height: 320px;
    width: 850px;
    text-align: center;
    margin: 0 0 150px 310px;
    background-color: #d3cfcfde;
    padding: 20px 10px 20px 10px;
  }
  
  .box3 p , .box3 h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  footer {
    height:500px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    flex-direction: column;
  }
  
  .contact-perso{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .button {
    width: 130px;
    height: 38px;
    background-color: #343535;
    box-shadow: #000000 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms , box-shadow 200ms;
    font-size: 18px;
    color: white;
    
  }
  
  .button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #000000 0px 0px 0px;
  }
  
  .reveal {
    opacity: 0;
    transform: translateX(-30px);
  
  }
  
  .reveal-visible {
    opacity: 1;
    transform: translateX(0);
    transition: .8s;
  }