* {
    margin: 0;
    padding: 0%; 
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    height: 98vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1477980382449-76d031b6eabe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
  

}


/* <-- navbar (Barre tout en haut ) --> */
nav {
    width: 100%;
    height: 100px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 37, 32);
    position: sticky;
    top: 0 ;
    z-index: 10;
}

.titre-vinci {
    height: 100% ;
    width: 450px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.titre-vinci p {
    font-family: 'Koulen', cursive;
    font-size: 27px ;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-shadow:  red 0 0, cyan 0 0;
    transition: text-shadow 200ms ;
}

.titre-vinci p:hover {
    text-shadow: red -6px 0,cyan 6px 0;
}

.navbar {
    height: 100px;
    width: 400px;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    width: 100%;
    height: 100%;
    display: flex ;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li a {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
   
}

.slide-line {
text-decoration: none ;
position: relative;

}

.slide-line::before {
    content:"";
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.slide-line:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
}

/* <-- Page accueil : style et mise en page --> */

.login {
    width: 1060px;
    height: 100px;
    color :white ;
    font-size: 40px ;
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(133, 132, 132, 0.527);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrap {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.buttonlog {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
  
.buttonlog::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
.buttonlog:hover, .buttonlog:focus {
    color: #313133;
    transform: translateY(-6px);
}
  
.buttonlog:hover::before, .buttonlog:focus::before {
    opacity: 1;
}
  
.buttonlog::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
  
.buttonlog:hover::after, .buttonlog:focus::after {
    animation: none;
    display: none;
}
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}

.decouvrir {
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reveal {
    opacity: 0;
    transform: translateX(-30px);
  
}
  
.reveal-visible {
    opacity: 1;
    transform: translateX(0);
    transition: .9s;
}

.img {
    background-image:url(https://images.unsplash.com/photo-1525095182007-3874c4e2b38b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 420px;
   -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
}

.img:hover  {

    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.box1 {
    height: 500px;
    width: 420px;
    background-color: rgba(123, 126, 118, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px 80px 10px 80px ;
  
    
}

.box1 p  {
    color: rgb(0, 0, 0);
    margin-top: 16px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: bold;
}

footer {
    height: 500px;
    width: 100%;
    background-color: rgb(35, 37, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.titre-span {
    font-family: 'Koulen', cursive;
    font-size: 70px ;
    color: white;
    display: flex;
    justify-content: space-around ;
}
 
/* <-- style  parti formulaire --> */

.formulaire  {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 80px ;
    border-radius: 8px;
    position: relative;
    top: 26px;
}

.formulaire label {
    text-align: center;
    font-size: 25px;
    color: #2e2e2e;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.ChampsDA{
    border-radius: 7px;
    height: 30px;
    width: 400px;
    background-color: #2e2e2e;
    color: white ; 
}

select {
    border-radius: 7px;
    height: 30px;
    width: 400px;
    background-color: #2e2e2e;
    color: white ;
}
.topBox{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.middleBox{
    width: 100%;
    height: 80px;
    margin: 10px 0 10px 0;
}
.bottomBox2 {
    width: 100%;
    height: 80px;
    
    
}

.bottomBox{
    width: 100%;
    height: 80px;
    margin: 10px 0 10px 0;
}
/* <-- style et animation bouton pour page login et page formualaire --> */



.button {
    width: 100px;
    height: 38px;
    background-color: #2e2e2e;
    box-shadow: #000000 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms , box-shadow 200ms;
    font-size: 18px;
    color: white;
    position: relative;
    left: 39%;
}

.button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #000000 0px 0px 0px;
}

.slide-line-two{
    text-decoration: none ;
    position: relative;
    font-size: 38px;
    color: #2e2e2e;
    font-family: 'Roboto Condensed', sans-serif;
    color: #2e2e2e;
}
  
.slide-line-two::before {
    content:"";
    position: absolute;
    background: #2e2e2e;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}
  
.slide-line-two:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
}
  
/*  <-- Parti background --> */

.bckgnd {
   
    width: 50%;
    height: 88vh;
}
.image {
    background-image: url(https://images.unsplash.com/photo-1567033326996-7e98127f12f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* <-- container qui contient les deux gros bloc (background et formulaire) --> */

.container {
    
    display: flex;
    justify-content: space-between;
    
}

/* <-- box qui contient le formualaire --> */

.partform {
    height: 88vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*<-- animation checkbox -->*/

.style_checkbox {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.minibox { position: absolute; transform: scale(0); }

.minibox:checked ~ .checkbox {
    transform: rotate(45deg);
    width: 16px;
    margin-left: 12px;
    border-color: #24c78e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 3px;
    transition: all 0.375s;
}

/* <-- Embriquement des boxs pour les checkboxs et style --> */

fieldset {
    border: none ;
}

.primebox {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sousbox {
    height: 100%;
    width: 80px ;
    display: flex;
    justify-content: center;
    text-align: center;
}

.finitions {
    position: relative;
    right: 25px;
}

.finitions2 {
    position: relative;
    right: 12px;
}